# Load the datafiles from tuitiontracker.org

In [ ]:
#import libraries
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
####### Institution Data File #######

In [ ]:
#load CSV file institution data 
csv_file = "data/institutions.csv"
institutions = pd.read_csv(csv_file)

In [ ]:
institutions = institutions.drop(['Institution name alias (HD2016)', 
         'Historically Black College or University (HD2016)',
        'Tribal college (HD2016)', 'Control of institution (HD2016)', 
         'Grand total (EF2016A  All students  Undergraduate total)'], axis=1)

In [ ]:
institutions = institutions.rename(columns={"UnitID" : "unit_id", 
                                            "Institution Name" : "institution", 
                                            "Street address or post office box (HD2016)": "address", 
                                            "City location of institution (HD2016)": "city",
                                            "State abbreviation (HD2016)" : "state",
                                            "ZIP code (HD2016)" : "zip_code",
                                            "Institution's internet website address (HD2016)" : "website",
                                            "Longitude location of institution (HD2016)" : "lon",
                                            "Latitude location of institution (HD2016)" : "lat",
                                            "Sector of institution (HD2016)" : "sector",
                                            "Bureau of Economic Analysis (BEA) regions (HD2016)" : "region",
                                            "Percent admitted - total (DRVADM2016)" : "perc_admitted",
                                            "Grand total (EF2016  All students  Undergraduate total)" : "total_enrollment",
                                            "Total men (EF2016  All students  Undergraduate total)" : "total_men",
                                            "Total women (EF2016  All students  Undergraduate total)" : "total_women",
                                            "American Indian or Alaska Native total (EF2016A  All students  Undergraduate total)" : "total_american_indian",
                                            "Asian total (EF2016A  All students  Undergraduate total)" : "total_asian", 
                                            "Black or African American total (EF2016A  All students  Undergraduate total)" : "total_black", 
                                            "Hispanic total (EF2016A  All students  Undergraduate total)" : "total_hispanic", 
                                            "Native Hawaiian or Other Pacific Islander total (EF2016A  All students  Undergraduate total)" : "total_pacific_islander", 
                                            "White total (EF2016A  All students  Undergraduate total)" : "total_white",
                                            "Two or more races total (EF2016A  All students  Undergraduate total)" : "total_two_or_more", 
                                            "Race/ethnicity unknown total (EF2016A  All students  Undergraduate total)" : "total_race_unknown",
                                            "Nonresident alien total (EF2016A  All students  Undergraduate total)" : "total_nonresident"
                                           })
institutions

In [ ]:
institutions = institutions.fillna(0)

In [ ]:
institutions.set_index('unit_id')

In [ ]:
####### net-price Data File #######
# includes data for net price based on income level

In [ ]:
#load CSV file - net-price data 
csv_file = "data/net-price.csv"
netprice = pd.read_csv(csv_file)
netprice.head()

In [ ]:
netprice = netprice[["UnitID",
"Average net price (income 0-30 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - public",
"Average net price (income 30 001-48 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - public",
"Average net price (income 48 001-75 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - public",
"Average net price (income 75 001-110 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - public",
"Average net price (income over 110 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - public",
"Average net price (income 0-30 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - privateforprofit",
"Average net price (income 30 001-48 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - privateforprofit",
"Average net price (income 48 001-75 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - privateforprofit",
"Average net price (income 75 001-110 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - privateforprofit",
"Average net price (income over 110 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - privateforprofit"
]]

In [ ]:
netprice = netprice.rename(columns={"UnitID" : "unit_id", 
            "Average net price (income 0-30 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - public" : "avg_net_price_0_30000_titleiv_public" ,
            "Average net price (income 30 001-48 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - public" : "avg_net_price_30001_48000_titleiv_public",
            "Average net price (income 48 001-75 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - public" : "avg_net_price_48001_75000_titleiv_public",
            "Average net price (income 75 001-110 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - public" : "avg_net_price_75001_110000_titleiv_public",
            "Average net price (income over 110 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - public" : "avg_net_price_110001_titleiv_public",
            "Average net price (income 0-30 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - privateforprofit" : "avg_net_price_0_30000_titleiv_privateforprofit",
            "Average net price (income 30 001-48 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - privateforprofit" : "avg_net_price_30001_48000_titleiv_privateforprofit",
            "Average net price (income 48 001-75 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - privateforprofit" : "avg_net_price_48001_75000_titleiv_privateforprofit",
            "Average net price (income 75 001-110 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - privateforprofit" : "avg_net_price_75001_110000_titleiv_privateforprofit",
            "Average net price (income over 110 000)-students awarded Title IV federal financial aid  2015-16 (SFA1516) - privateforprofit" : "avg_net_price_110001_titleiv_privateforprofit"
                          })

netprice

In [ ]:
netprice = netprice.fillna(0)

In [ ]:
netprice.set_index('unit_id')

In [ ]:
####### Tuition Data File #######

In [ ]:
#load CSV file tuition data 
csv_file = "data/cost-attendance.csv"
tuition = pd.read_csv(csv_file)
tuition.head()


tuition = tuition[["UnitID",
"Published in-state tuition and fees 2017-18 (IC2017_AY)"]]


tuition = tuition.rename(columns={"UnitID" : "unit_id",
                       "Published in-state tuition and fees 2017-18 (IC2017_AY)" : "instate_tuition_fees"})

tuition

In [ ]:
tuition = tuition.dropna()

tuition

In [ ]:
tuition.set_index('unit_id')

In [ ]:
####### retention-rates Data File #######

In [ ]:
#load CSV file retention-rates data 
csv_file = "data/retention-rates.csv"
retentionrates = pd.read_csv(csv_file)
retentionrates.head()

retentionrates = retentionrates[["UnitID",
        "Full-time retention rate  2016 (EF2016D)"]]


retentionrates = retentionrates.rename(columns={"UnitID" : "unit_id",
        "Full-time retention rate  2016 (EF2016D)": "full_time_retention_rate"})
                                           
retentionrates

In [ ]:
retentionrates = retentionrates.dropna()

retentionrates

In [ ]:
retentionrates.set_index('unit_id')

In [ ]:
####### Financial Aid Data File #######

In [ ]:
#load CSV file financial aid data 
csv_file = "data/financial-aid.csv"
financialaid = pd.read_csv(csv_file)
financialaid.head()

financialaid = financialaid[["UnitID",
        "Percent of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1516)",
        "Average amount of federal  state  local or institutional grant aid awarded (SFA1516)",
        "Average amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1516)"]]


financialaid = financialaid.rename(columns={"UnitID" : "unit_id",
        "Percent of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1516)" : "perc_first_time_full_time_undergrad_other_grant_aid",
        "Average amount of federal  state  local or institutional grant aid awarded (SFA1516)" : "avg_amount_other_grant_aid_first_time_full_time_undergrad",
        "Average amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1516)" :"avg_amount_pell_grants_first_time_full_time_undergrad"})
                                            
financialaid

In [ ]:
financialaid = financialaid.dropna()

financialaid

In [ ]:
financialaid.set_index('unit_id')

# Clean and merge dataframes

In [ ]:
combined_institutions_df = pd.concat([institutions, netprice], axis=1, join="inner")

In [ ]:
combined_institutions_df = pd.concat([combined_institutions_df, tuition], axis=1, join="inner")

In [ ]:
combined_institutions_df = pd.concat([combined_institutions_df, retentionrates], axis=1, join="inner")

In [ ]:
combined_institutions_df = pd.concat([combined_institutions_df, financialaid], axis=1, join="inner")

In [ ]:
combined_institutions_df

# Load data into SQL database

In [ ]:
## BEFORE RUNNING THIS MAKE SURE YOU HAVE A LOCAL POSTGRES DB CREATED CALLED higher_ed_db
## UPDATE YOUR CONNECTION STRING IN THIS NOTEBOOK IF NEEDED 

rds_connection_string = "postgres:bootcamp@localhost:5432/higher_ed_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# load the institutions_df to the streaming table
combined_institutions_df.to_sql(name='institutions', con=engine, if_exists='append', index=False)